@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&display=swap");

html {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

body {
  margin: 0;
  background-color: #182527;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

.topnav {
  background-color: #071416;
  height: 150px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 3px 3px;
  font-weight: 600;
  text-decoration: none;
  font-size: 35px;
  transition: 0.4s;
  margin: 50px 200px;
}

#line {
  background-color: #20cd8d;
  width: 5px;
  height: 45px;
  float: left;
  margin-right: 10px;
}
#line2 {
  background-color: #20cd8d;
  width: 5px;
  height: 55px;
  margin: 55px 0px 0px 55px;
  position: absolute;
  
}

.topnav a:hover {
  color: #e1e1e1e1;
}

.container {
  margin: 100px auto;
  padding: auto;
  width: 1000px;
}

#text {
  text-align: center;

}

h1 {
  color: #20cd8d;
  font-size: 74px;
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

h2 {
  color: #20cd8d;
  font-size: 50px;
  width: 800px;
  text-align: center;
  margin:  0 auto;
}

p {
  color: white;
  font-size: 25px;
  width: 555px;
  margin: 40px auto 20px auto;
}

#input {
  display: flex;
  justify-content: center;
}

#email[type="text"] {
  width: 500px;
  height: 50px;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px;
  background-color: #c5c5c5;
  transition: 0.5s;
  box-sizing: border-box;
  border: 2px solid #ccc;
  outline: none;
  background-image: url("https://img.icons8.com/ios-filled/256/apple-mail.png");
  background-position: 97% 50%;
  background-size: 35px;
  background-repeat: no-repeat;
  font-weight: 700;

}

#message::placeholder{
  font-size:16px;
  font-family: "Nunito", sans-serif; 
  opacity: 0.5;

}
#email::placeholder{
  font-size:18px;
  font-family: "Nunito", sans-serif; 
  opacity: 0.5;
}

#message[type="text"] {
  margin:20px;
  width: 500px;
  height: 200px;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  background-color: #c5c5c5;
  transition: 0.5s;
  box-sizing: border-box;
  border: 2px solid #ccc;
  outline: none;
  resize: vertical;
  font-weight: 700;
  max-height: 300px;
  min-height: 50px;
}
#email[type="text"]:focus {
  border: 2px solid #303030;
  background-color: #d6d6d6;
}
#message[type="text"]:focus {
  border: 2px solid #303030;
  background-color: #d6d6d6
}
input[type="submit"] {
  background-color: #20cd8d;
  border: none;
  color: white;
  width: 280px;
  height: 60px;
  font-size: 25px;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s;
}
input[type="submit"]:hover {
  background-color: #10bc7c;
}

#smalltext{ 
    color: white;
    opacity: 0.8;
    font-size: 14px;
    display: flex;
    justify-content: center;

}

#icon{
    cursor: pointer;
    margin: auto;
    position: absolute;
    bottom: 15;
    animation: arrow 1.5s infinite;
    right: 50%;
    margin-right: -20px;

}
#icon1{
  /* border: 1px solid black; */
  cursor: pointer;
  position: absolute;
  animation: arrow2 1.5s infinite;
  top:101%;
  right: 50%;
  margin-right: -20px;
}

@keyframes arrow2{
  80%{
    opacity: 0.6;
    transform: translateY(7px);
  }
  100%{
    opacity: 1;
  }
}
@keyframes arrow{
  80%{
    opacity: 0.6;
    transform: translateY(-7px);
  }
  100%{
    opacity: 1;
  }

}
svg{
    transition: 0.3s;
}
svg:hover{stroke-width:2.2px;}
#section1, #section2{ height: 100%;}
#section2{padding: 100px;}

.container2{
  margin: auto;
  padding: auto;
  width: 1000px;

}


#block{
  margin: 0 auto;
  width: 80%;
  height: 700px;
  background-color: #243234;
  padding: 20px;
}

#block-inside{
  margin: 50 auto;
  width: 75%;
  height: 350px;
  border-radius: 7px;
  background-color: #252927;
  padding: 30px;
  box-shadow: -1px 7px 34px -22px #121212;

}

#footer{
  margin: auto;
  width:250px;
  padding: auto;
  position: absolute;
  display: flex;
  right: 42%;
  top: 197%;
}
#footer-contact{
  margin: auto;
  width:250px;
  padding: auto;
  position: absolute;
  display: flex;
  right: 42%;
  top: 97%;
}
#copyright{
  color: white;
  opacity: 0.5;
  margin-left: 15px;
}

#bottomnav{
  text-decoration: none;
  color:white;
  opacity: 0.6;
  transition: 0.3s;
  margin: auto 3px;
}
#bottomnav:hover{
  opacity: 0.9;
}

#example{
  margin-top: 20px;
  font-weight: 600;
}
#task{
  margin-top: 20px;

}

#text{
  color: white;
  font-size: 17px;
  text-align: left;
}