@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&display=swap");

html {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

body {
  margin: 0;
  background-color: #182527;
  font-family: "Nunito", sans-serif;
  /* overflow: hidden; */
}
/* section {
  position: relative;
  width: 100%;
  height: 100%;
} */

.topnav {
  overflow: hidden;
  background-color: #071416;
  height: 150px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 3px 3px;
  font-weight: 600;
  text-decoration: none;
  font-size: 35px;
  transition: 0.4s;
  margin: 50px 200px;
}

#line {
  background-color: #20cd8d;
  width: 6px;
  height: 40px;
  float: left;
  margin-right: 10px;
}

.topnav a:hover {
  color: #e1e1e1e1;
}

.container {
  margin: 100px auto;
  padding: auto;
  width: 1000px;
}

#text {
  text-align: center;

}

h1 {
  color: #20cd8d;
  font-size: 74px;
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

p {
  color: white;
  font-size: 25px;
  width: 555px;
  margin: 40px auto 20px auto;
}

#input {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 500px;
  height: 50px;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px;
  background-color: #c5c5c5;
  transition: 0.5s;
  box-sizing: border-box;
  border: 2px solid #ccc;
  outline: none;
  background-image: url("https://img.icons8.com/ios-filled/256/apple-mail.png");
  background-position: 97% 50%;
  background-size: 35px;
  background-repeat: no-repeat;
}
input[type="text"]:focus {
  border: 2px solid #303030;
  background-color: #d6d6d6;
}
input[type="submit"] {
  background-color: #20cd8d;
  border: none;
  color: white;
  width: 300px;
  height: 50px;
  font-size: 20px;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s;
}
input[type="submit"]:hover {
  background-color: #10bc7c;
}

#smalltext{ 
    color: white;
    opacity: 0.8;
    font-size: 14px;
    display: flex;
    justify-content: center;

}

#icon{
    cursor: pointer;
    margin: auto;
    position: absolute;
    bottom: 15;
    animation: arrow 1.5s infinite;
    right: 50%;
    margin-right: -20px;

}

@keyframes arrow{
  80%{
    opacity: 0.7;
    transform: translateY(7px);
  }
  100%{
    opacity: 1;
  }

}
svg{
    transition: 0.3s;
}
svg:hover{
    stroke-width:2.2px;
}